@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800&display=swap");

/* ROOT STYLES */
:root {
  --default-font: "Poppins", sans-serif;
  --dark-color: #0a0a0a;
  --light-color: #fff;
  --grey-color: #505050;
  --primary-color: #19ed55;
  --yellow-color: #f2c10e;
}

/* Reset Styles */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem; /* 15px */
  min-height: 100vh;
  background-color: var(--primary-color);
  /* background: linear-gradient(169deg, #f64445 0%, #611cac 100%); */
  line-height: 1.6;
  font-family: var(--default-font);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

button,
input {
  font-family: inherit;
  outline: 0;
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

main {
  display: flex;
  gap: 2rem;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* SIDEBAR */
.sidebar {
  background-color: var(--dark-color);
  width: 250px;
  min-height: 100vh;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header-title {
  font-size: 3rem;
}

.header .header-title span {
  color: var(--primary-color);
}

/* Search Form */

.form-control {
  min-width: 420px;
  color: var(--light-color);
}

.search-btn {
  color: #242424;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

#container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--dark-color);
  margin: 2rem;
  padding: 5rem;
  border-radius: 6px;
  color: var(--light-color);
}

.show-hero-container {
  /* margin-top: 4rem; */
  height: 500px;
  overflow-y: scroll;
}

.show-hero-container::-webkit-scrollbar {
  width: 7px;
}

.show-hero-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.show-hero-container::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

/* HERO CONTENT */
.hero-content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 3rem;
  margin-right: 2rem;
}

.hero-content .hero-thumbnail {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.hero-content-list .name {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3.4rem;
  margin-top: -1.2rem;
  font-weight: 500;
}

/* TABS */
.tabs-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  padding-bottom: 1.6rem;
  margin-block-start: 2rem;
  margin-block-end: 2.4rem;
  color: var(--light-color);
}
.tab {
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  font-weight: 400;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  transition: all 300ms ease-in-out;
}

.tab:hover {
  opacity: 0.9;
}

.tab.active {
  color: var(--primary-color);
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* POWERSTATS INFO */
.powerstats li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem auto;
  padding: 1.2rem;
}

.powerstats li div span {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 7px;
  padding: 0 1.2rem;
  margin: 0 1.6rem;
  opacity: 0.6;
  font-size: 1.7rem;
}

.powerstats li > span {
  background-color: #212121;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  font-weight: 700;
  color: var(--yellow-color);
}
